atomicwrites==1.4.0
attrs==21.4.0
backoff==1.10.0
boto3==1.24.20
botocore==1.27.20
cachetools==4.2.0
certifi==2020.12.5
charset-normalizer==2.0.10
colorama==0.4.5
coverage==6.4
Deprecated==1.2.13
google-api-core==2.4.0
google-auth==2.4.1
google-cloud==0.34.0
googleapis-common-protos==1.52.0
grpcio==1.43.0
grpcio-health-checking==1.43.0
idna==2.10
iniconfig==1.1.1
Jinja2==3.0.3
jmespath==1.0.1
MarkupSafe==2.0.1
opentelemetry-api==1.9.1
opentelemetry-exporter-otlp-proto-grpc==1.9.1
opentelemetry-exporter-otlp-proto-http==1.9.1
opentelemetry-instrumentation==0.28b1
opentelemetry-instrumentation-grpc==0.28b1
opentelemetry-instrumentation-jinja2==0.28b1
opentelemetry-instrumentation-urllib3==0.28b1
opentelemetry-proto==1.9.1
opentelemetry-sdk==1.9.1
opentelemetry-semantic-conventions==0.28b1
opentelemetry-util-http==0.28b1
packaging==21.3
pluggy==1.0.0
protobuf==3.13.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==2.4.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
pytest-grpc==0.8.0
pytest-mock==3.7.0
python-dateutil==2.8.2
python-json-logger==2.0.2
requests==2.27.1
rsa==4.7
s3transfer==0.6.0
six==1.15.0
tomli==2.0.1
typing_extensions==4.0.1
urllib3==1.26.8
wrapt==1.13.3
